<!DOCTYPE html>
<html>
<head>
	<title>Web-карта14</title>
	<meta charset="UTF-8" />
	<script src="./libs/leaflet.js"></script>
	<script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU"></script>
	<script src="./libs/leaflet-measure.min.js"></script>
	<script src="./libs/Yandex.js"></script>
	<link rel="stylesheet" href="./libs/leaflet.css" />
	<link rel="stylesheet" href="./libs/leaflet-measure.css" />
	<style>
		html, body, #map {
			height: 100%;
			width: 100%;
			//padding: 0px;
			margin: 0px;
		}
		.lgndPanel{background: rgba(255, 255, 255, 0.8); padding-left: 10px; padding-bottom: 7px; padding-right:10px; border-radius: 5px; }
	</style>
</head>
<body>
	<div id="map"></div>
	<script src="./data/QGIS/pamytnik.js"></script>
	<script src="./libs/main.js"></script>

	<h5>TEST-14, Парсинг википедии</h5>


</body>
</html>

