<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Добавляем точку</title>

</head>
<body>
    <form action="/add" method="post" class="form-add">
        <p><label>Название:</label><input type="text" name="name" value="Александровская колонна" /></p>
        <p><label>Координаты:</label><input type="text" name="Point_cord" value="30.315814, 59.939039" /></p>
        <p><label>Год:</label><input type="text" name="age" value="1834" /></p>
        <p><input type="submit" value="Отправить"></p>
    </form>
        <a href="/">
        <button type="button">К карте</button>
    </a>
</body>
</html>